/* make the min height calc(100vh - 160px - 85px); */
/* make the width for the  */

.featured{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-decoration: none;
    /* padding: 50px; */
    justify-content: center;
    width: 100%;
    background-color: white;
    /* min-height: calc(100vh - 160px - 85px) !important; */
}

.featured-container{
    width: 100%;
    position: relative;
}

.image-container{
    /* width: 40%; */
    overflow: hidden;
    width: calc(50%);
    margin: 15px;
    min-height: calc(100vh - 160px - 85px) !important
}

.featured-image{
    width: 100%;
    border-radius: 8px;
    min-height: calc(100vh - 160px - 85px) !important;
    /* background-position: center center; */
    background-size: cover;
}

.text-outer-container{
    /* border: 1px solid red; */
    width: 40%;
    padding: 0 0 75px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-container{
    color: #161B3D;
}

.featured-text{
    background-color: #161B3D;
    text-align: center;
    padding: 2px;
    border-radius: 20px;
    width: 100px;
    color: white;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 5px;
}

.featured-title{
    margin-top: 15px;
    font-size: 30px;
    text-align: left;
    font-weight: bold;
    margin-bottom: 0;
}

.slide-author{
    margin-top: 15px;
    font-size: 16px;
    text-align: left;
}

/* move to app css */
.normal-bold{
    font-weight: bold;
}

/*  */

.next{
    width: 55px;
}

.next-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.arrow{
    border: solid #E2E5ED;
    border-width: 0 8px 8px 0;
    display: inline-block;
    padding: 15px;
}

.arrow:hover{
    border-color: #2821FC;
    padding: 0 6px 6px 0;
    padding: 10px;
    transform: scaleX(10deg);
    transition: .2s;
}

.right{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

/* this is the carousel */
.carousel-root {
    outline: none;
    max-width: 80% !important;
    margin: auto;
    padding: 50px;
}
.carousel .slide {
    background-color: white;
}

.carousel .slide img{
    object-fit: cover;
    background-repeat: no-repeat;
  background-position: 50% 50%;
}

.carousel.carousel-slider {
    overflow: inherit;
}

.carousel.carousel-slider .control-arrow:hover {
    background: transparent !important;
    border: none !important;
}


.carousel .control-arrow:hover{
    opacity: 1 !important;
    border: solid red !important;
    transform: scaleX(10deg) !important;
    transition: .2s !important;

}

.control-prev{
    display: none !important;
}

.control-next{
    margin-right: 50px;
}

.carousel .control-next.control-arrow:before {
    content: '';
    border: solid #0135AD !important;
    border-width: 0 8px 8px 0 !important;
    display: inline-block;
    padding: 14px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
} 

.control-next:hover{
    content: '';
    border: solid #0135AD !important;
    border-width: 0 6px 6px 0 !important;
    display: inline-block !important;
    padding: 12px !important;
}

.slide {
    /* min-height: calc(100vh - 160px - 85px) !important; */
}
/*
.carousel .control-prev.control-arrow, .carousel .control-prev.control-arrow:hover {
    background-color: red;
    left: -146px;
}

.carousel .control-arrow, .carousel.carousel-slider .control-arrow{
    opacity: 1;
}

.carousel .control-next.control-arrow:before {
    content: '';
    border: solid #0135AD;
    border-width: 0 8px 8px 0;
    display: inline-block;
    padding: 14px;
    transform: rotate(-45deg);
    background: red;
    -webkit-transform: rotate(-45deg);
} */

/* .carousel .control-prev.control-arrow:before {
    content: '';
    border: solid #0135AD;
    border-width: 0 8px 8px 0;
    display: inline-block;
    padding: 14px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
} */

@media screen and (max-width: 600px){
    .featured{
        flex-direction: column;
    }

    .carousel-root{
        width: 100% !important;
        margin: auto;
        padding: 50px 0;
    }

    .text-outer-container{
        width: 100%;
    }
}