.recent-posts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card{
  height: 350px;
  background-color: bisque;
  margin: 25px 0px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 31.4%;
}

.body-snippet{
  height: 25px;
  overflow: hidden;
}

.words-container{
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.76);
    width: 100%;
    color: white;
    padding-left: 25px;
    box-sizing: border-box;
}

.image-logo{
  height: 200px;
  width: 200px;
  /* border: 2px solid #e6463c; */
  border-radius: 50%;
  margin: auto  ;
}

/* header css */

.header-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  /* background-color: white; */
}

.recent-container{
  max-width: 900px;
  margin: auto;
}

/* newest card */

.newest-card{
  height: 350px;
  width: 100%;
}

.newest-page-container{
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.76);
  width: 40%;
  color: white;
  padding-left: 25px;
  box-sizing: border-box;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.newest-body-snippet{
  max-width: 90%;
  margin: 5px auto;
  max-height: 110px;
  overflow: hidden;
}

.newest-landing-page-title{
  width: 90%;
  font-weight: bold;
  margin: 0 auto;
}