

.hover {
    transform: translateY(-5px);
    transition: .2s;
}

.sm-section{
    height: 325px;
    width: 30%;
    border-radius: 8px;
    background: #D7482A;
    background: -webkit-linear-gradient(top left, #D7482A, #872BCA);
    background: -moz-linear-gradient(top left, #D7482A, #872BCA);
    background: linear-gradient(to bottom right, #D7482A, #872BCA);
    color: white;
    position: relative;
    margin: 2% 2% 0% 2%;
    position: relative;
    z-index: 9999;
    text-decoration: none;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.md-section{
    position: relative;
    height: 325px;
    width: 46%;
    border-radius: 8px;
    background-repeat:no-repeat;
    background-position: center center;
    color: white;
    position: relative;
    margin: 2% 2% 0% 2%;
    z-index: 9999;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.lg-section{
    position: relative;
    height: 325px;
    width: 62%;
    border-radius: 8px;
    background-repeat:no-repeat;
    background-position: center center;
    color: white;
    position: relative;
    margin: 2% 2% 0% 2%;
    z-index: 9999;
    text-decoration: none;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.background{
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://images.unsplash.com/photo-1534361960057-19889db9621e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
    background-repeat:no-repeat;
    background-position: center center;
    border-radius: 10px;
}

.filter{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.sm-article-title{
    /* font-size: 32px; */
    font-size: 1.5vw;
    font-weight: 400;
    margin-left: 15%;
    text-align: left;
    width: 60%;
    padding-right: 15%;
    margin-bottom: 0;
    overflow: hidden;
    height: 130px;
}

.lg-article-title{
    /* font-size: 1.5vw; */
    font-size: 30px;
    font-weight: 400;
    margin-left: 15%;
    text-align: left;
    width: 60%;
    padding-right: 15%;
    margin-bottom: 0;
    overflow: hidden;
    height: 130px;
    z-index: 9999;
}

.author{
    font-size: 14px;
    font-weight: 400;
    margin-left: 15%;
    text-align: left;
    padding-right: 16%;
}

.article-container{
    /* max-width: 66%; */
    margin-top: -150px !important;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    padding: 25px;
    flex-wrap: wrap;
}

.tag-ad-container{
    width: 100%;
    position: absolute;
    bottom: 40px;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.article-button{
    border: none;
    background-color: transparent;
    color: white;
    font-weight: 500;
    font-size: 16px;
}

.non-removal-ads{
    border: 2px solid white;
    border-radius: 10px;
}