.dashboard-container{
    min-height: 100vh;
    margin: 0 0 0 50px ;
    background-color: #6d6d6d;
    /* background: linear-gradient(179deg, #6CB4DD 54%, #2FA53D 100%) no-repeat 50% 50% / 100% 100%; */

    color: black;
}

.border-dev{
    border: 1px solid red;
}

.main-page{
    display: flex;
}

.pages-flex-container{
    min-height: 15px;
    width: 99.8%;
}

