.blog-settings{
    color: white;
    background-color: #6d6d6d;
}

.blog-width{
    max-width: 900px;
    margin: auto;
    box-sizing: border-box;
    padding: 50px;
}

.blog-main-image{
    margin-bottom: 15px;
    /* border: 1px solid red; */
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.blog-main-image img{
    /* width: 100%; */
    height: 390px;
    width: 100%;
    object-fit: cover;

}

.blog-image img{
    height: 390px;
    width: 100%;
    object-fit: contain;
}

.blog-title{
    text-align: center;
}

.blog-paragraph{
    font-size: 18px;
    line-height: 2;
}

.blog-sub-titles{
    font-size: 22px;
    font-weight: bold;
}

.blog-image{
    width: 80%;
    text-align: center;
    margin: 15px auto;
}

.blog-settings{
    padding: 45px 0 45px 0;
}