.blog-page-container{
    max-width: 80% !important;
    margin: auto;
}
.blog-banner-container{
    position: relative;
    min-height: calc(100vh - 160px - 85px) !important;
}
.blog-banner-image{
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-radius: 10px;
    z-index: -1;
}
.blog-banner-desc{
    box-sizing: border-box;
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    bottom: 0;
    padding-left: 75px;
    padding-top: calc((100vh - 160px - 85px) / 2) !important;
    padding-bottom: calc((100vh - 160px - 85px) / 2) !important;
}
.blog-page-text-container{
    width: 88%;
    border-radius: 20px;
    margin: auto;
    box-sizing: border-box;
    margin-top: -60px;
    background-color: white;
    padding: 45px 80px ;
}   

.blog-page-paragraph{
    font-size: 19px;
    line-height: 1.65;
    text-align: left;
    width: 70%;
    margin: 25px auto;
}