footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
    /* background-color: #212121; */
}

footer a {
    color: #161B3D;
}

footer p{
    margin: 0;
}

.footer-main-container{
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    width: 80%;
    justify-content: space-between;
    padding: 10px;
}

.footer-links-container{
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 0;
    margin: 18px 0 18px 0;
}

.footer-li-links{
    list-style: none;
    margin: 17px;
}

.footer-links{
    font-weight: 500;
    letter-spacing: .5px;
}

.footer-logo{
    height: 90px;
}

.social-bar-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.social-bar{
    display: flex;
    flex-direction: row;
}

.social-bar a{
    text-decoration: none;
    color: #373B59;
    font-size: 32px;
    display: block;
    margin: 0 7px 0 7px;
}

.social-bar a:hover:nth-child(2){
    color:#0077b5;
}

.social-bar a:hover:nth-child(3){
    color:#1da1f2;
}

.footer-p{
    margin-top: 5px;
    color: #373B59;
    font-size: 14px;
}

.footer-p a {
    color: #373B59;
    font-size: 20px;
    font-weight: bold;
}

/* @media only screen and (max-width: 600px){
    .footer-p{
        text-align: center !important;
        padding: 15px !important;
    }
} */

@media screen and (max-width: 600px){
    footer{
        height: max-content;
    }
    
    .footer-main-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0;
        
    }

    .footer-p{
        width: 80%;
        text-align: center;
        padding: 30px 0 30px 0;
    }

    .social-bar-container{
        margin-top: 30px;
    }

}