
/* common */
.blur{
  position: absolute;
  top: 0;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(3px);
  min-height: 100%;
	width: 100%;
}

.hidden{
  display: none !important;
}

h1{
  margin: 0;
}

.margin-center{
  margin: auto;
}

.card-hover{
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.4); 
}

.relative{
  position: relative;
}

.half{
  width: 50%;
}

.full-page{
  min-height: 100vh;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/isael-blogs.appspot.com/o/images%2Fbackground-test-2.jpg?alt=media);
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 88%;
  position: relative;
}

.center-image-position{
  background-position: center;
}

/* web colors text */
.tomato{
  color:#e6463c;
}
.chocolate-orange{
  color:#ee7f1e;
}
.slateblue{
  color:#6450c8;
}
.cornflowerblue{
  color:#6cb4dd;
}
.seagreen{
  color:#2fa53e;
}

.error-background{
  background-color: #dc3444;
}

.success-background{
  background-color: #28a745;
}

.main-color{
  background: #212121;
}